<template>
  <div>
    PDF CREATE
    <form @submit.prevent="onSubmit" method="post">
      <div :key="field.name" v-for="(field, index) in fields">
        <div v-if="field.type === 'plaintext' || field.type === 'signature'">
          <label :for="field.name">{{ field.name }}</label>
          <input
            type="text"
            :value="field.value"
            @change="updateField(field.name, $event)"
            :id="index"
            :name="field.name"
          >
        </div>
        <div v-else>
          <p>{{field.name}}</p>
          <label>
            Yes
            <input
              type="radio"
              :id="index"
              @change="updateField(field.name, $event)"
              :name="field.name"
              value="true"
            >
          </label>
          <br>
          <label>
            No
            <input
              type="radio"
              :id="index"
              @change="updateField(field.name, $event)"
              :name="field.name"
              value="false"
            >
          </label>
        </div>
      </div>
      <input type="submit" value="submit">
    </form>
  </div>
</template>

<script>
export default {
  name: "PdfCreate",
  data() {
    return {};
  },
  beforeMount: function() {
    for (var field of this.fields) {
      this[field.name] = null;
    }
  },
  methods: {
    async onSubmit(e) {
      var formData = {};
      for (var field of this.fields) {
        formData[field.name] = field.value;
        console.log("field", field.name, this[field.name]);
      }
      try {
        var response = await fetch("http://localhost:5000/api/generate", {
          method: "POST",
          body: JSON.stringify({
            formFile: this.$props.base64File,
            formData
          }),
          headers: {
            "Content-Type": "application/json"
          }
        });

        var pdf = await response.blob();
        showFile(pdf);
      } catch (err) {
        console.log(err);
      }
    },
    updateField(name, event) {
      var field = this.fields.find(field => field.name === name);
      field.value = event.target.value;
    }
  },
  props: {
    fields: Array,
    base64File: String
  }
};

function showFile(blob) {
  // It is necessary to create a new blob object with mime-type explicitly set
  // otherwise only Chrome works like it should
  var newBlob = new Blob([blob], {type: "application/pdf"})

  // IE doesn't allow using a blob object directly as link href
  // instead it is necessary to use msSaveOrOpenBlob
  if (window.navigator && window.navigator.msSaveOrOpenBlob) {
    window.navigator.msSaveOrOpenBlob(newBlob);
    return;
  } 

  // For other browsers: 
  // Create a link pointing to the ObjectURL containing the blob.
  const data = window.URL.createObjectURL(newBlob);
  var link = document.createElement('a');
  link.href = data;
  link.download="file.pdf";
  link.click();
  setTimeout(function(){
    // For Firefox it is necessary to delay revoking the ObjectURL
    window.URL.revokeObjectURL(data);
  }, 100);
};
</script>

<style>
</style>