<template>
  <div>
    PDF INPUT
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" id="file" ref="myFiles" class="form-control-file" @change="sendFile">
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "PdfInput",
  data() {
    return {}
  },
  methods: {
    async sendFile() {
      var file = this.$refs.myFiles.files[0];
      var base64 = await getBase64(file);
      this.$emit('fileChange', base64);
      try {
        var response = await fetch('http://localhost:5000/api/fields', {
          method: 'POST',
          body: JSON.stringify({formFile: base64}),
          headers: {
            'Content-Type': 'application/json'
          }
        });
        var fields = await response.json();
        this.$emit('fieldsChange', fields);
      } catch(err) {
        console.log(err);
      }
    }
  }
};

function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => {
      let encoded = reader.result.toString().replace(/^data:(.*,)?/, '');
      if ((encoded.length % 4) > 0) {
        encoded += '='.repeat(4 - (encoded.length % 4));
      }
      resolve(encoded);
    };
    reader.onerror = error => reject(error);
  });
}
</script>

<style scoped>
</style>
