<template>
  <div id="app">
    <PdfInput @fileChange="updateFile($event)" @fieldsChange="updateFields($event)" />
    <PdfCreate v-if="fields.length" :fields="fields" :base64File="base64File" />
  </div>
</template>

<script>
import PdfInput from './components/PdfInput.vue'
import PdfCreate from './components/PdfCreate.vue'

export default {
  name: 'app',
  data() { 
    return {
      fields: [],
      base64File: null
    }
  },
  methods: {
    updateFields(event) {
      this.fields = event.data;
    },
    updateFile(event){
      this.base64File = event;
    }
  },
  components: {
    PdfInput,
    PdfCreate
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
